@font-face {
    font-family: 'MAjidH1';
    src: url('../fonts/Vazir-Medium-FD-WOL.eot');
    src: url('../fonts/Vazir-Medium-FD-WOL.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Medium-FD-WOL.woff2') format('woff2'), url('../fonts/Vazir-Medium-FD-WOL.woff') format('woff'), url('../fonts/Vazir-Medium-FD-WOL.ttf') format('truetype');
    font-weight: normal;
}
body {
    font-family: 'MAjidH1'
}
input {
    width: 400px;   
    max-height: 100%;
    margin: 5%;
    height: 28px;
    background: #ccc
}